/* MAKE BY AFFAL */

.fs-1em{
	font-size: 1em;
}
.fs-2em{
	font-size: 2em;
}
.fs-3em{
	font-size: 3em;
}
.fs-4em{
	font-size: 1em;
}
.fs-5em{
	font-size: 1em;
}
.fs-6em{
	font-size: 1em;
}
.fs-7em{
	font-size: 1em;
}
.fs-8em{
	font-size: 1em;
}
.fs-9em{
	font-size: 1em;
}
.fs-1px{
	font-size: 1px;
}
.fs-2px{
	font-size: 2px;
}
.fs-3px{
	font-size: 3px;
}
.fs-4px{
	font-size: 4px;
}
.fs-5px{
	font-size: 5px;
}
.fs-6px{
	font-size: 6px;
}
.fs-7px{
	font-size: 2px;
}
.fs-8px{
	font-size: 2px;
}
.fs-9px{
	font-size: 2px;
}
.fs-10px{
	font-size: 2px;
}
.fs-11px{
	font-size: 2px;
}
.fs-12px{
	font-size: 2px;
}
.fs-13px{
	font-size: 2px;
}
.fs-14px{
	font-size: 2px;
}
.fs-15px{
	font-size: 2px;
}
.fs-16px{
	font-size: 2px;
}
.fs-17px{
	font-size: 2px;
}
.fs-18px{
	font-size: 2px;
}
.fs-19px{
	font-size: 2px;
}
.fs-20px{
	font-size: 2px;
}
.fs-2px{
	font-size: 2px;
}
